/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#term {
  margin-top: -100;
  height: 600px;
}

/* .glow {
  text-shadow: white 15px;
  box-shadow: white 10px;
  color: aqua;
} */

.glow {
  color: aqua;
  font-weight: bold;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px aqua, 0 0 40px aqua, 0 0 5px aqua, 0 0 6px aqua, 0 0 7px aqua;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px aquamarine, 0 0 4px aquamarine, 0 0 5px aquamarine, 0 0 6px aquamarine, 0 0 7px aquamarine, 0 0 8px aquamarine;
  }
}
